<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>天天美食</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
		<!-- <script type="text/javascript" src="menu.json"></script> -->
		<script>
			$(document).ready(function(){
			    var myDishes = JSON.parse('<%- JSON.stringify(dishes) %>');
			    var myStarters = JSON.parse('<%- JSON.stringify(starters) %>');
			    var mySides = JSON.parse('<%- JSON.stringify(sides) %>');
			    var myLocations = JSON.parse('<%- JSON.stringify(locations) %>');
			    var i = 0;
			    
			    for(var key in myDishes){

			      var $tr = $("<tr>");
			      $a = $("<a>");
			      $a.attr("onclick","selectDish(this)");
			      $a.attr("href","#selectStarter");
			      var $td1 = $("<td>");
			      var $img = $("<img>");
			      $img.attr('src', myDishes[key].url);
			      $td1.append($img);
			      var $td2 = $("<td>");
			      $a1 = $("<a>");
			      $a1.append(myDishes[key].title);
			      $a2 = $("<a>");
			      $a2.append("$");
			      $a3 = $("<a>");
			      $a3.append(myDishes[key].price);

			      $td2.append($a1);
			      $td2.append("<br/>");
			      $td2.append($a2);
			      $td2.append($a3);
			      $a.append($td1);
			      $a.append($td2);
			      $tr.append($a);

			      $('#dishlist').append($tr);
			      i = i + 1;
			    }

			    i = 0;

			    for(var key in myStarters){
				  var div_str = (i%2==0)?"field first": "field";
			      var $div = $("<div>", {class: div_str});
			      var $input = $("<input>", {type:"radio", id: "starterOption" + myStarters[key].id.toString(), name: "starterOption"});
			      $("input").prop('required',true);
			      var $label = $("<label>", {for:"starterOption" + myStarters[key].id.toString()});
			      var $a1 = $("<a>");
			      $a1.append(myStarters[key].title);
			      $label.append($a1);
			      $label.append("     +$");
			      var $a2 = $("<a>");
			      $a2.append(myStarters[key].price.toString());
			      $label.append($a2);
			      $div.append($input);
			      $div.append($label);
			      
			      $('#starterlist').prepend($div);
			      i = i + 1;
			    }

			    // for(var key in mySides){
			    //   var $a = $("<a>", {id: "sidea" + mySides[key].id.toString(), href: "#startersSubHeader"});
			    //   $a.append(mySides[key].title);
			    //   $('#startersSubHeader').append($a);
			    // }

			    i = 0;
			    for(var key in myLocations){
					  var div_str = (i%2==0)?"field half first": "field half";
				      var $div = $("<div>", {class: div_str});
				      var $input = $("<input>", {type:"radio", id: "locationOption" + myLocations[key].id.toString(), name: "locationOption"});
				      $("input").prop('required',true);
				      var $label = $("<label>", {for:"locationOption" + myLocations[key].id.toString()});
				      var $a = $("<a>");
				      $a.attr("href", myLocations[key].mapUrl);
				      $a.append(myLocations[key].description);
				      $a1 = $("<a>");
				      $a1.append(myLocations[key].title);
				      $label.append($a1)
				      $label.append($a);
				      $div.append($input);
				      $div.append($label);
			        $('#pickupLocation').append($div);
			        i = i + 1;
			    }


			});
			</script>
			<script>
				function selectDish(param) {
					var selectedDishImg = document.getElementById('selectedDishImg');
					selectedDishImg.setAttribute('src', param.children[0].firstElementChild['src']);
					var selectedDishTitle = document.getElementById('selectedDishTitle');
					selectedDishTitle.innerText = param.children[1].children[0].innerText + param.children[1].children[2].innerText +param.children[1].children[3].innerText;

					var selectedDish = document.getElementById('confirm_selected_dish');
					var selectedDishPrice = document.getElementById('confirm_selected_dish_price');
					selectedDish.innerText = param.children[1].children[0].innerText;
					selectedDishPrice.innerText = param.children[1].children[3].innerText;

				}
			</script>
			<script>
				function selectStarter() {
					var starterInputs = document.getElementById('starterlist');
					var note = document.getElementById('confirm_note');;
					note.innerHTML = document.getElementById('note').value;
					for (var i = 0; i < starterInputs.children.length; i ++){
						if (starterInputs.children[i].children[0].checked) {
							var selectedStarter = document.getElementById('confirm_selected_starter');
							var selectedStarterPrice = document.getElementById('confirm_selected_starter_price');
							selectedStarter.innerText = starterInputs.children[i].children[1].children[0].innerText;
							selectedStarterPrice.innerText = starterInputs.children[i].children[1].children[1].innerText;
							return true;
						}
					}
					alert("请选择配菜");
					return false;
					

				}
			</script>
			<script>
				function checkPickUpLocation() {
					var pickupInputs = document.getElementById('pickupLocation');
					for (var i = 0; i < pickupInputs.children.length; i ++){
						if (pickupInputs.children[i].children[0].checked) {
							var selectedPickUpLocation = document.getElementById('confirm_pickup_location');
							selectedPickUpLocation.innerText = pickupInputs.children[i].children[1].children[0].innerText;
							return true;
						}
					}
					
					return false;
				}

				function checkNickName() {
					var name = document.getElementById('name');
					if (name.value == "") {
						return false
					}
					var selectedName = document.getElementById('confirm_name');
					selectedName.innerText = name.value;
					return true;
				}


				function checkPhone() {
					var phone = document.getElementById('phone');
					if (phone.value == "" || phone.value==null) {
						return false
					}

					var selectedPhone = document.getElementById('confirm_phone');
					selectedPhone.innerText = phone.value;
					
					return true;
				}

				function selectPickUp() {
					if (!checkPickUpLocation()) {
						alert("请选择取餐地点");
						return false
					}
					
					if 	(!checkNickName()) {
						alert("请填写姓名");
						return false
					}

					if (!checkPhone()) {
						alert("请填写电话");
						return false
					}

					var dishStr = document.getElementById("confirm_selected_dish").innerText;
					var dishPriceStr = document.getElementById("confirm_selected_dish_price").innerText;
					var starterStr = document.getElementById("confirm_selected_starter").innerText;
					var starterPriceStr = document.getElementById("confirm_selected_starter_price").innerText;

					var totalTax = ((parseFloat(dishPriceStr) + parseFloat(starterPriceStr)) * 0.1);
					var totalTaxString = totalTax.toFixed(2);
					var totalAmountBeforeTax = ((parseFloat(dishPriceStr) + parseFloat(starterPriceStr)) * 1.0);
					var totalAmount = totalTax + totalAmountBeforeTax;
					var totalAmountString = totalAmount.toFixed(2);
					
					document.getElementById('confirm_total').innerHTML = totalAmountString;
					document.getElementById('confirm_tax').innerHTML = totalTaxString;
					 
					var dataString = "price=" + totalAmountString;
					$.ajax({
					    url: 'https://tiantiangourmet.com/getHash',
					    type: 'GET',
					    headers: {  'Access-Control-Allow-Origin': 'https://tiantiangourmet.com' },
					    data: dataString, 
					    success: function(response) { 
					      document.getElementById('submission_login').value = response.login;
					      document.getElementById('submission_amount').value = totalAmountString;
					      document.getElementById('submission_sequence').value = response.sequence;
					      document.getElementById('submission_timestamp').value = response.timeStamp;
					      document.getElementById('submission_currency').value = response.currency;
					      document.getElementById('submission_hash').value = response.hash;
					      document.getElementById('submission_show_form').value = response.showForm;
					      document.getElementById('submission_nickname').value = document.getElementById('confirm_name').innerText;
					      document.getElementById('submission_phone').value = document.getElementById('confirm_phone').innerText;
					      document.getElementById('submission_pickup_location').value = document.getElementById('confirm_pickup_location').innerText;
					      document.getElementById('submission_dish').value = dishStr;
					      document.getElementById('submission_starter').value = starterStr;
					      document.getElementById('submission_note').value = document.getElementById("confirm_note").innerText;
					     }
					});


					return true;

				}

			</script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>天天美食</h1>
								<h2>大西雅图中餐外卖</h2>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#start">开始订餐</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Start -->
							<article id="start">
								<h2 class="major">主菜</h2>
								
								<p>点击选择你想要的主菜.</p>

								<section>
									<div class="table-wrapper">

										<table>
											<tbody id = "dishlist">
											</tbody>
										</table>
									</div>
								</section>


							</article>
						<!-- Select Starters -->
							<article id="selectStarter">
							    <span class="image main"><img id="selectedDishImg" src="images/pic02.jpg" alt="" /></span>
								<h2 id="selectedDishTitle" class="major"></h2>
							

								<section>
									<p>选择你想要的配菜 <span>*</span></p>
									<form id="starterForm">
										<div id = "starterlist">

										</div>
										<div class="field first">
											<label for="note">备注</label>
											<input type="text" name="note" id="note" placeholder="Your Note Here" required maxlength="32"/>
										</div>
										<ul class="actions first">
											<!-- <li><input type="submit" value="下一步" class="special" /></li> -->
											<li><a href="#pickupInfo" onclick="return selectStarter()" class="button special" />下一步</a></li>
										</ul>
									</form>
								</section>
							</article>

						<!-- Contact -->
							<article id="pickupInfo">
								<h2 class="major">联系方式</h2>
								<form id="pickupForm">
									<div class="field">
										<label for="pickupLocation">选择取餐地点 <span>*</span></label>
										<div id="pickupLocation">

										</div>
									</div>
									<div class="field half first">
										<label for="name">姓名 <span>*</span></label>
										<input type="text" name="name" id="name" placeholder="Wechat Nickname" required maxlength="32"/>
									</div>
									<div class="field half first">
										<label for="phone">电话 <span>*</span></label>
										<input type="text" name="phone" id="phone" placeholder="888-888-8888" required maxlength="32"/>
									</div>
									<ul class="actions">
										<!-- <li><input type="submit" value="下单" class="special" /></li> -->
										<li><a href="#confirm" onclick="return selectPickUp()" class="button special" />下单</a></li>
									</ul>
								</form>
							</article>

						<!-- Contact -->
							<article id="confirm">
								<h2 class="major">确认订单</h2>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>选项</th>
													<th>明细</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>姓名</td>
													<td id="confirm_name"></td>
												</tr>
												<tr>
													<td>电话</td>
													<td id="confirm_phone"></td>
													
												</tr>
												<tr>
													<td>取餐地点</td>
													<td id="confirm_pickup_location"></td>
													
												</tr>
												<tr>
													<td>备注</td>
													<td id="confirm_note"></td>
													
												</tr>
												<tr>
													<td id="confirm_selected_dish"></td>
													<td id="confirm_selected_dish_price"></td>
													
												</tr>
												<tr>
													<td id="confirm_selected_starter"></td>
													<td id="confirm_selected_starter_price"></td>
												</tr>
												<tr>
													<td>税</td>
													<td id="confirm_tax"></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td>总计</td>
													<td id="confirm_total"></td>
												</tr>
											</tfoot>
										</table>
									</div>

									  <form  id="submissionButton" action="https://checkout.globalgatewaye4.firstdata.com/payment" method="post"> 

								          <input id="submission_login" name="x_login" value="" type="hidden"> 

								          <input id="submission_amount" name="x_amount" value="" type="hidden" maxlength="32"> 

								          <input id="submission_sequence" name="x_fp_sequence" value="" type="hidden"> 

								          <input id="submission_timestamp" name="x_fp_timestamp" value="" type="hidden"> 

								          <input id="submission_currency" name="x_currency_code" value="" type="hidden"> 

								          <input id="submission_hash" name="x_fp_hash" value="" type="hidden"> 

								          <input id="submission_show_form" name="x_show_form" value="" type="hidden">

								          <input id="submission_button" class="button special" value="在线付款" type="submit"> 

								          <input name="enable_level3_processing" type="hidden" value="TRUE" />

								          <input id="submission_nickname" name="x_cust_id" type="hidden" value="" maxlength="32"/>

								          <input id="submission_pickup_location" name="x_ship_to_address" type="hidden" value="" />
								          
								          <input id="submission_phone" name="x_phone" type="hidden" value="" maxlength="32"/>

								          <input id="submission_note" name="x_description" type="hidden" value="" maxlength="32"/>

								          <input id="submission_dish" name="x_ship_to_first_name" type="hidden" value="" maxlength="32"/>

								          <input id="submission_starter" name="x_ship_to_last_name" type="hidden" value="" maxlength="32"/>

								      </form>

							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
							
						<ul id="contact" class="icons"> 
				            <li><i class="fa fa-phone"></i> +01 (425) 429 8975</li>
				            <li><i class="fa fa-weixin"></i> ttms99999</li>
				            
						</ul>
							
						<p class="copyright">&copy; Tiantian Gourmet. All rights reserved </p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
