<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>天天美食</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1><%= head %></h1>
								<p><%= body %></p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="http://tiantianmeishidelicious.com">回到主页</a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
							
						<ul id="contact" class="icons"> 
				            <li><i class="fa fa-phone"></i> +01 (425) 429 8975</li>
				            <li><i class="fa fa-weixin"></i> ttms99999</li>
				            
						</ul>
							
						<p class="copyright">&copy; Tiantian Gourmet. All rights reserved </p>
						<p class="copyright"><a href="/images/taotao-wechat-qr.jpg">@Author</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
